# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Env
.env
.env.local

# Node (au cas où)
node_modules/
npm-debug.log*
guide.md
briefe_INIT_PORTFOLIO.md
